nav{
  background-color: rgb(28, 27, 27);
  height: 5vh;
  
}

.container{
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vh;
  align-items: center;
}

.about{
  display: flex;
  justify-content: space-between;
  width: 8%;
}

.link{
  color: white;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.links{
  color: white;
  font-size: 3vh;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1{
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
